
:root {
  --grey:hsl(210, 21%, 76%);
  --blue:#13293d;
  --white:#fff;

  
  }
body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
 
  justify-content: flex-start;
}

h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align:center;
}

header {
  padding: 40px;
  text-align: center;
  background: var(--blue);
  color: var(--white);
}

nav {
  display: flex; 
}
nav a {
  color: var(--white);
  padding: 14px 20px;
  text-decoration: none;
 text-align:right;
}
p {
  text-align: justify;
}
img {
  padding:10px;
}

main {
  display: flex;
  flex-wrap: wrap;
}

footer {
  width: 100%;
  bottom: 0;
  padding: 20px;
  text-align: center;
  background: var(--blue);
  color: var(--white);
  margin-top: auto;
}

.portfolio, .aboutme {
  flex: 1;
  background-color:var(--white);
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.site {
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  padding: 10px;
  flex: 0 0 300px;
  box-shadow: 10px 10px 5px #aaaaaa;
  margin: 20px;
  width:340px;
}
.site img {
  width:100%;
  height:auto;
  border:0px;
  padding:0px;
}
form {
  
  margin: 0 auto;
  width: 500px;
  padding: 10px;
  border: 5px solid var(--blue);
  border-radius: 20px;
 text-align: center;
}

.site > header {
  border-radius: 50px 50px 0px 0px;
  padding: 20px;
}

.site > p {
  text-align: center;
}

.site > img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
